@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #071624;
}

@font-face {
    font-family: 'Neue';
    src: url('./assets/Fonts/NeueMachina-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue';
    src: url('./assets/Fonts/NeueMachina-Ultrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}